@tailwind base;
@tailwind components;
@tailwind utilities;

/*  for hiding navbar in home page */
nav:not([class^="hidden"])+main{
    padding-left: 4rem;
}

@keyframes smoothBounce {
  0%, 100% {
    transform: translateY(0);
    animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
  }
  50% {
    transform: translateY(-8px);
    animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
  }
}